<h1 class="mt-5">Selector aninados</h1>
<hr>

<form [formGroup]="myForm" (submit)="handleSubmit()">
  <div class="col">
    <label for="continente">Continente</label>
    <select formControlName="region" class="form-control" name="continente" id="continente">
      <option value="">--Selecione um continente</option>
      <option [value]="region" *ngFor="let region of regions">{{ region }}</option>
    </select>
  </div>

  <div class="col mt-2">
    <label for="country">Countries</label>
    <select formControlName="country" class="form-control" name="country" id="country">
      <option value="">--Selecione um continente</option>
    </select>
  </div>

</form>

<h3>Form</h3>
<code>
  {{ myForm.value | json }}
</code>

<p>
  is form valid: {{ myForm.valid }}
</p>
